<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>addItem</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<form action="/additem" method="post" th:fragment="additem">
    <label for="ItemName">Item anem???</label>
    <br>
    <input type="text" id="ItemName" name="ItemName" placeholder="Item name?"><br>
    <label for="ItemDescription">Item description</label>
    <br>
    <input type="text" id="ItemDescription" name="ItemDescription" placeholder="Item descrption"><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>