<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Project creation page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<form action="/createnewproject" method="post">
    <label for="ProjectName">Enter new project name</label>
    <br>
    <input type="text" id="ProjectName" name="ProjectName" placeholder="Project name?"><br>
    <label for="ProjectDescription">Project description</label>
    <br>
    <input type="text" id="ProjectDescription" name="ProjectDescription" placeholder="Project description"><br><br>
    <br>
    <input type="text" id="ProjectDeadline" name="ProjectDeadline" placeholder="Deadline? (YYYY-MM-DD)"><br><br>
    <input type="submit" value="Submit">
    <br>

</form>

</body>
</html>