<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Welcome to the Project Manager, <span th:text="${session.CurrentSessionUserName}">user</span>!
</h1>


<h3>Make your selection:</h3>

<div>See all projects <a  href="/showprojects">here.</a> <br>
Add a project <a href="/createnewproject">here.</a><br>
    Add a task <a href="/createnewtask">here.</a><br>

    Choose a project number to view it and associated tasks:
    <form action="/seeoneprojectandtasks" method="post">
        <label for="numberOfProjectForView">Project ID number:</label><br>
        <input type="text" id="numberOfProjectForView" name="numberOfProjectForView" placeholder="Any Project number"><br><br>
        <input type="submit" value="See One Project">
    </form>
</div>


</body>
</html>