<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this removes the item</title>
</head>
<body>
<form action="/removeitem" method="post">
    <label for="ItemNumber">Item anem to delete???</label>
    <br>
    <input type="text" id="ItemNumber" name="ItemNumber" placeholder="Remove what item?">
    <br>
 <!--   <label for="reallydelete">Are you sure?</label>
    <input type="radio" id="reallydelete" name="reallydelete">-->
    <input type="submit" value="Submit">
</form>
</body>
</html>