<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is one project and its tasks</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h2>Currently viewing project ID: <span th:text="${currentProjectNumber}"></span> and associated task table.</h2>

<table>
    <tr>
        <th>Project ID #</th>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>Project Owner</th>
        <th>Start Date</th>
        <th>Deadline</th>
        <th>Is it completed?</th>
    </tr>
    <tr th:each="ProjectModel : ${oneProject}">

        <td th:text="${ProjectModel.getProjectid}"></td>
        <td th:text="${ProjectModel.getProjectName}"></td>
        <td th:text="${ProjectModel.getProjectDescription}"></td>
        <td th:text="${ProjectModel.getProjectOwner}"></td>
        <td th:text="${ProjectModel.getProjectStartDate}"></td>
        <td th:text="${ProjectModel.getProjectDeadline}"></td>
        <td th:if="${ProjectModel.isProjectCompletionStatus == 0}">In Progress</td>
        <td th:if="${ProjectModel.isProjectCompletionStatus == 1}">Done</td>


    </tr>
    <br>

    <table>
        <tr>
            <th>Task ID #</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Parent Project ID #</th>
            <th>Estimated Days Until Completion</th>
            <th>Task Completed?</th>
        </tr>
        <tr th:each="TaskModel : ${oneProjectTaskList}">

            <td th:text="${TaskModel.getTaskID}"></td>
            <td th:text="${TaskModel.getTaskName}"></td>
            <td th:text="${TaskModel.getTaskDescription}"></td>
            <td th:text="${TaskModel.getTaskProjectParentID}"></td>
            <td th:text="${TaskModel.getNumberOfDaysToCompletionEstimate}"></td>
            <td th:if="${TaskModel.isTaskCompletionStatus == 0}">In Progress</td>
            <td th:if="${TaskModel.isTaskCompletionStatus == 1}">Done</td>


        </tr>


    </table>
     <br>
    <br>
    You have <span th:text="${totalNumberOfDaysEstimatedForProjectTasks}">days</span> days worth of tasks left.
    <div>
    The total number of days required by the tasks is <span th:text="${numberOfDaysRemainingInWhichToCompleteProjectBeforeDeadling}">number</span>, relative to the deadline. If this number is negative, you are in trouble.
    <br>
    You have <span th:text="${numberOfDaysRemainingToDeadline}">numbers</span> days left before the deadline.
        <br></div>


    <br>
    <br>
    Do you wish to add tasks to this project? Remember to add it to the correct project-ID!
    <form action="/createnewtask" method="post">
        <label for="taskName">Enter new task name</label>
        <br>
        <input type="text" id="taskName" name="taskName" placeholder="task name?"><br>
        <label for="taskDescription">Task Description</label>
        <br>
        <input type="text" id="taskDescription" name="taskDescription" placeholder="Task Description"><br><br>
        <br>
        <label for="taskParentProjectId">What is the parent project ID number?</label>
        <input type="text" id="taskParentProjectId" name="taskParentProjectId" placeholder="Project ID #"><br><br>

        <label for="taskTimeEstimate">How many days will the task take to complete?</label>
        <input type="text" id="taskTimeEstimate" name="taskTimeEstimate" placeholder="How many days?"><br><br>

        <input type="submit" value="Submit New Task">
        <br>

    </form>
    <br>

    <h3>Mark task as done?</h3>
    <form action="/marktaskasdone" method="post">
    <label for="taskIDnumber">What task do you want to mark as finished?</label>
    <input type="text" id="taskIDnumber" name="taskIDnumber" placeholder="ID # of task"><br><br>

    <input type="submit" value="Mark as done">
    </form>
    <br>
    <p>Return to <a href="/">the index</a> here.</p>
</body>
</html>