<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is one project and its tasks</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h2>Project Table</h2>

<table>
    <tr>
        <th>ID number of Project</th>
        <th>Name of Project</th>
        <th>Description of item</th>
        <th>Project owner</th>
        <th>Start dato</th>
        <th>Deadline</th>
        <th>er det færdigt?</th>
    </tr>
    <tr th:each="ProjectModel : ${oneProject}">

        <td th:text="${ProjectModel.getProjectid}"></td>
        <td th:text="${ProjectModel.getProjectName}"></td>
        <td th:text="${ProjectModel.getProjectDescription}"></td>
        <td th:text="${ProjectModel.getProjectOwner}"></td>
        <td th:text="${ProjectModel.getProjectStartDate}"></td>
        <td th:text="${ProjectModel.getProjectDeadline}"></td>
        <td th:text="${ProjectModel.isProjectCompletionStatus}"></td>


    </tr>

    <h2>task Table</h2>

    <table>
        <tr>
            <th>Name of task</th>
            <th>Description of task</th>
            <th>getNumberOfDaysToCompletionEstimate</th>
            <th>er det færdigt?</th>
        </tr>
        <tr th:each="TaskModel : ${oneProjectTaskList}">


            <td th:text="${TaskModel.getTaskName}"></td>
            <td th:text="${TaskModel.getTaskDescription}"></td>
            <td th:text="${TaskModel.getNumberOfDaysToCompletionEstimate}"></td>
            <td th:text="${TaskModel.isTaskCompletionStatus}"></td>

        </tr>
        <p>Return to <a href="/">the index</a> here.</p>
    </table>
</body>
</html>