<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>addtask</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/addtask" method="post">
    <label for="taskName">Task anem???</label>
    <br>
    <input type="text" id="taskName" name="taskName" placeholder="task name xxxx"><br>
    <label for="taskDescription">Task descriptiopn???</label>
    <br>
    <input type="text" id="taskDescription" name="taskDescription" placeholder="task desc yyy"><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>