<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You are now updating items</title>
</head>
<body>
<h1>Update Item:</h1>
<p>Please enter the ID number of the item to be updated, and its new name:</p>
<form action="/updateitem" method="post">
  <label for="ItemID">Item anem???</label>
  <br>
  <input type="text" id="ItemID" name="ItemID" placeholder="ID number?"><br>
  <label for="NewItemName">Item ID?</label>
  <br>
  <input type="text" id="NewItemName" name="NewItemName" placeholder="New Item Name"><br><br>
  <input type="submit" value="Submit">
</body>
</html>