<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>citatform</title>

</head>
<body>
<header>
    <!--<a href = "/logo"</a>-->
<nav>
    <ul>
        <li>1               </li>
        <li>2               </li>
        <li>3               </li>
    </ul>
</nav>

</header>
<main>

    <form>

        <label for="fname">First name:</label>
        <input type="text" id="fname" name="">

    </form>
    <div>
        <form action="/addNote" method="post">
            <input name="note" />
            <br> <button type="submit" >Add Note</button>
        </form>
    </div>
</main>
</body>
</html>